.menu li{
    padding: 5px 0;
}
.menu li a{
    display: block;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    color: black;
    text-align: center;
    transition: background-color .15s ease-in-out, color .15s ease-in-out;
}
.menu li a:hover{
    background: #3f51b5;
    color: white;
}
.active-link{
    background: #3f51b5;
    color: white!important;
}